:root {
    --dark-purple: hsl(273, 85%, 13%);
    --eucaplyptus: hsl(150, 100%, 63%);
    --davys-gray: hsl(271, 12%, 34%);
    --gosht-white: hsl(276, 100%, 99%);
    --white: hsl(0, 0%, 100%);
    --fraunces: 'Fraunces', serif;
    --manrope: 'Manrope', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--manrope);
    background-color: #F2F2F2;
}
html {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 420px;
    background-color: var(--dark-purple);

}
.icono1 {
    display: none;
}
.icono2 {
    display: none;
}
.icono3 {
    display: none;
}
.path-morado {
    width: 100%;
    height: 100px;
    background-color: var(--dark-purple);
    clip-path: ellipse(50% 11% at 50% 50%);
    margin-top: -52px;
}
.encabezado {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
}
.encabezado-logo {
    display: flex;
    justify-content: space-between;
}
.encabezado-logo-boton {
    color: var(--white);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--eucaplyptus);
    cursor: pointer;
}
.encabezado-titulo {
    width: 90%;
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fraunces);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: var(--white);
}
.encabezado-titulo-decoracion {
    text-decoration: underline var(--eucaplyptus);
}
.encabezado-titulo-boton {
    width: 133px;
    height: 55px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: var(--eucaplyptus);
    cursor: pointer;
}

main {
    width: 100%;
}
.imagen-telefono {
    width: 320px;
    height: 184px;
    margin: -120px auto;
    background-image: url("starter-code/assets/images/image-hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.contenido-informacion-total{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    margin: 0 16px;
    margin-top: 150px;
    margin-bottom: 80px;
}
.contenido-information-titulo {
    width: 48px;
    height: 48px;
    border: 1px solid var(--dark-purple);
    border-radius: 50%;
    margin: 0 auto;
    padding: 12px;
    margin-bottom: 24px;
    font-size: 20px;
    font-family: var(--fraunces);
}
.contenido-information-texto h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: var(--fraunces);
    color: var(--dark-purple);
}
.contenido-information-texto p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--davys-gray);
}
.path-blanco {
    width: 100%;
    height: 100px;
    background-color: #F2F2F2;
    clip-path: ellipse(50% 11% at 50% 50%);
    margin-bottom: -47px;
}

footer {
    padding-top: 60px;
    background-color: var(--gosht-white);
}
.footer-texto {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-founder {
    width: 250px;
    height: 250px;
}
.footer-texto-informacion {
    background-color: var(--dark-purple);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px;
    margin-top: -46px;
}
.footer-texto-informacion h2 {
    font-family: var(--fraunces);
    margin-bottom: 16px;
}
.footer-texto-informacion p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
    margin-bottom: 24px;
}
.footer-texto-informacion button {
    width: 172px;
    height: 55px;
    border: none;
    background-color: var(--eucaplyptus);
    color: var(--dark-purple);
    font-weight: 700;
    cursor: pointer;
}
.footer-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
.footer-logo {
    margin-bottom: 40px;
}
.footer-paginas-web {
    display: flex;
    gap: 28px;
}
.icono3 {
    display: none;
}


@media screen and (min-width: 768px) {
    header {
        height: 470px;
    }
    main {
        height: 840px;
    }
    .titulo-imagenes {
        display: flex;
    }
    .encabezado-titulo {
        width: 40%;
    }
    .icono1 {
        display: block;
        margin-left: -239px;
    }
    .icono2 {
        display: block;
        margin-top: 189px;
        margin-right: -16px;
    }
    .imagen-telefono {
        width: 514px;
        height: 296px;
        margin: -145px auto;
        margin-bottom: -85px;
    }
    .contenido-informacion {
        display: flex;
    }
    .contenido-informacion-total {
        margin: 150px 80px;
    }
    .contenido-informacion-parrafo {
        display: flex;
    }
    .contenido-information-titulo {
        width: 52px;
        height: 46px;
        margin-top: 40px;
    }
    .contenido-information-texto {
        text-align: initial;
        margin-left: 20px;
    }

    
    .footer-texto {
        flex-direction: row;
        margin: 0 40px;
    }
    .footer-texto-informacion {
        height: 340px;
        margin-bottom: -343px;
        margin-left: -86px;
        align-items: flex-start;
        padding: 56px;
    }
    .footer-texto-informacion p {
        text-align: initial;
    }
    .icono3 {
        display: block;
        margin-left: 450px;
        margin-top: 76px;

    }


}
@media screen and (min-width: 1024px) {
    .contenido-informacion-total {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contenido-informacion-parrafo {
        flex-direction: column;
    }
    .contenido-information-texto h3 {
        text-align: center;
    }
    .contenido-information-texto p{
        text-align: center;
    }

    .footer-texto {
        margin: 0 160px;
    }
    .footer-texto-informacion {
        margin-left: -40px;
    }
    .icono3 {
        margin-left: 730px;
        margin-top: 70px;
    }

}
